.container_body {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;
  width: 110%;
}

.container_card {
  position: relative;
  border: 1px solid rgb(51, 51, 51);
  box-shadow: 1px 1px 1px rgb(134, 133, 133);
  border-radius: 5px;
  padding: 0.5%;
  max-width: 23%;
  margin-bottom: 15px;
  overflow: hidden;
  color: aliceblue;

}

.container_card:hover {
  box-shadow: 3px 3px 5px  white;
  transition: .5s;
  background-color: #4a8ca8 ;
}

.container_content {
  padding: 5px;
}

.card_title {
  font-weight: 200;
  min-height: 40px;
  text-align: start;
}

.card_img img {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 5px;

}

.card_button {
  margin-top: 15px;
}

.container_card .btn {
  position: absolute;
  bottom: 0;
  background-color: aliceblue;
  width: 90%;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.container_card .btn:hover {
  background-color: brown;
  color: aliceblue;

}


/* Estilos para telas menores */
@media only screen and (max-width: 990px) {
  .container_body {
    display: flex;
    flex-wrap: wrap;
  }

  .container_card {
    display: flex;
    max-width: 30%;
  }
}

/* Estilos para telas menores */
@media only screen and (max-width: 680px) {
  .container_body {
    display: flex;
    flex-wrap: wrap;
  }

  .container_card {
    display: flex;
    max-width: 45%;
  }
}
