<div class="container">
  <div class="container_body">
    <div class="container_card" *ngFor="let recomend of recomends">
      <div class="card_img">
        <img src="{{ recomend.images.webp.image_url }}" alt="">
      </div>
      <div class="card_title">
        <h4>{{ recomend.title }}</h4>
        <div class="card_options">
          <span>
            <p>Rank: {{recomend.rank}}</p>
          </span>
          <span>
            <p>Nota: {{recomend.score}}</p>
          </span>
        </div>
      </div>
    </div>
    <!-- <hr class="card_space"> -->
  </div>
